<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
         <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/home/politicas">Politicas</a></li>
            </ul>
        </nav>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
